body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #d9dcd6; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
}

@keyframes color-change {
    0% {
      color: #9bd1e5;
        }

    50% {
        color: #0075c4;
        }
    
    
    100% {
      color: #9bd1e5;
       }
    }
    
    h1 {
        @import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);
        align-content: center;
        animation: color-change 3s infinite;
        background-color: #6699cc;
        border-radius:10px;
        font-family: 'Abril Fatface', display;
    }
